.navWindow {
  position: absolute;
  left: calc(100vw - 48px);
  top: 16px;

  font-family: sans-serif;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  text-decoration: none;

  &:visited {
    color: white;
  }
}