html {
  height: 100%;
}

body {
  background-color: gray;

  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.threeParent {
  width: 100%;
  height: 100%;
}

.reactRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;

  color: white;
}