html {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(7,51,60,1) 100%);

  padding: 0;
  margin: 0;

  text-align: center;
  color: rgb(242, 242, 242);
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 8px;

  width: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin-bottom: 8px;

  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(79, 0, 198);;
  overflow: hidden;

  width: 324px;
}

.preview {
  width: 324px;
  height: 216px;

  padding: 0px;
  margin: 0px;

  overflow: hidden;

  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: rgb(79, 0, 198);;
}

.video {
  width: 100%;
  height: 100%;
}

.game .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  padding: 8px;
}

.game .description .content {
  margin-bottom: 8px;
}

.game .actions {
  text-align: center;
  padding: 8px;
}

a.buttonLink {
  font-family: sans-serif;
  font-size: x-large;

  padding: 16px;

  padding: 6px 12px;
  border: 1px outset rgb(86, 37, 245);
  border-radius: 3px;
  color: rgb(242, 242, 242);
  background-color: rgb(121, 36, 248);
  text-decoration: none;

  &:hover {
    background-color: rgb(149, 83, 250);
  }

  &:active {
    background-color: rgb(79, 0, 198);
  }
}